/* 공통스타일 */

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

img {
  display: block;
}


.btn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.inner {
  width: 1100px;
  margin: 0px auto;
  position: relative;
}

.material-icons{
  font-size: inherit;
}



/* header */
header {
  position: relative;
  height: 100px;
  background-color: #AFECFF;
  display: flex;
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 45px;
}

header .menu {
  display: flex;
}

header .menu > li {
  padding: 10px 25px;
  display: flex;
  position: relative;
}

header .menu > li > a {
  font-size: 20px;
}

header .menu > li:hover{
  font-weight: bold;
}

header .menu > li:hover .sub-menu {
  font-weight: bold;
  display: block;
  background-color: white;
  display: flex;
}

.sub-menu {
  position: absolute;
  top: 32px;
  white-space: nowrap;
  display: none;
}

.sub-menu > li > a {
  padding: 11px 20px;
}

.sub-menu > li:hover > a {
  font-style: italic;
  color: blue;
}

header .btngroup{
  padding: 20px;
}

header .btngroup .btn{
  border-color: white;
  background-color: white;
}

header .menu-icons{
  position: absolute;
  display: none;
  right: 30px;
  font-size: 45px;
}

header .mo-nav{
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 15px;
}

/* .active 뜰 때 */
/* 
header .mo-nav.active{
  right: 0;
} */

header .mo-nav div{
  text-align: right;
}

/* header .mo-nav .btn-close{
  font-size: 45px;
} */

@media screen and (max-width: 780px) {
  header{
    flex-direction: column;
  }

  header .logo{
    align-self: flex-start;
  }

  header .nav{
    display: none;
  }

  .sub-menu > li{
    display: none;
  }

  header .btngroup{
    display: none;
  }

  header .menu-icons{
    display: block;
    line-height: 10vh;
  }

  header .nav.active,
  header .btngroup.active{
    display: block;
  }
  
  header .nav.active{
    display: block;
  }

  header .mo-nav{
  display: block;
  }
}


/* youtube */
.youtube{
  position: relative;
  height: 600px;
  overflow: hidden;
}

.youtube .youtube__area{
  width: 100%;
  height: 600px;
}

#player{
  width: 100%;
  height: 100%;
}

/* banner */
.banner{
  background-color: #f7ffff;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.banner h2{
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.banner .swiper{
  width: 100%;
  height: 350px;
  position: absolute;
  /* margin-left: 38px; */
  margin: 10px 50px;
  display: flex;
}

.banner .swiper-slide{
  transition: 2s;
  position: relative;
  padding: 0 60px;
}

.banner .swiper-slide .img:hover {
  display: block;
}

.banner .swiper img{
  opacity: 0.8;
  cursor: pointer;
  border-radius: 50%;
  transition: 1s;
}

.banner .swiper img:hover{
  transform: scale(1.1);
}

.banner .swiper .text1{
  position: absolute;
  bottom: 16%;
  left: 33%;
}

.banner .swiper .text2{
  position: absolute;
  bottom: 16%;
  left: 31%;
}

.banner .swiper .text3{
  position: absolute;
  bottom: 16%;
  left: 28%;
}

.banner .swiper-button-prev, 
.banner .swiper-button-next{
  position: absolute;
  top: 55%;
  color: black;
}

.banner .swiper-button-prev{
  margin-left: 50px;
  
}

.banner .swiper-button-next{
  margin-right: 50px;
}

@media screen and (max-width: 780px) {  
  /* .banner .swiper{
    margin: 10px 50px;
  }*/
  
  .banner .swiper-slide{
    margin-left: 50px;
    padding: 10px 70px;
  } 

  .banner .swiper img{
    height: 80%;
  }

  .banner .swiper .text1{
    display: block;
    bottom: 27%;
    left: 33%;
  }
  
  .banner .swiper .text2{
    display: block;
    bottom: 27%;
    left: 31%;
  }
  
  .banner .swiper .text3{
    display: block;
    bottom: 27%;
    left: 28%;
  }
  
  .banner .swiper-button-prev{
    margin-left: 0;
  }
  
  .banner .swiper-button-next{
    margin-right: 0;
  }
}


/* list */
.list {
  background-color: #f7ffff;
  display: flex;
}

.list .item{
  position: relative;
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
}

.list .item img{
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  transition: 1s;
}

.list .item span img:hover{
  opacity: 0.5;
}

.list .item span em{
  position: absolute;
  font-size: 30px;
  left: 37%;
  top: 38%;
  opacity: 0.5;
}

.list .item span em:hover{
  opacity: 1;
}

.list .item .desc{
  margin-top: 5px;
}

.list .item .desc ul > li{
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

@media screen and (max-width: 780px) {  
  .list .item span em{
    font-size: 15px;
    top: 28%; 
  }
}


/* product */
.product {
  background-color: #f7ffff;
}

.product .inner {
  height: 400px;
  top: 55px;
}

.product .text-group {
  position: absolute;
  top: 40px;
  left: 40%;
}


.product .text-group .title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 32px;
}

.product .text-group .description {
  margin-bottom: 35px;
  font-size: 21px;
}

.product .text-group .btn {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #AFECFF;
}

.product .text-group .btn:hover {
  color: white;
}

.move {
  transition: 1s;
}
.move.left {
  transform: translateX(20px);
}
.move.right {
  transform: translateX(-20px);
}
.show .move{
  transform: translateX(0);
}

@media screen and (max-width: 780px) {  
  .product {
  }

  
}


/* guide */
.guide {
  background-color: #f7ffff;
}

.guide .inner {
  height: 400px;
}

.guide .text-group {
  position: absolute;
  top: 100px;
}

.guide .text-group .title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 25px;
}

.guide .text-group .description {
  margin-bottom: 35px;
  font-size: 22px;
}

.guide .text-group .btn {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #AFECFF;
}

.guide .text-group .btn:hover {
  color: white;
}


.guide .guide-logo {
  position: absolute;
  right: 0;
}


/* footer */
footer .inner{
  width: 100%;
  height: 300px;
  background-color: #AFECFF;
}

.inner .last{
  margin-left: 70px;
  padding: 40px;
  display: flex;
}

.inner .last a{
  padding: 20px 90px;
  font-size: 20px;
  font-weight: bold;
}

.inner .last a:hover{
  color: white;
}


.inner .info{
  top: 20px;
  border-top: 1px solid gray;
}

.inner .info p{
  font-size: 15px;
  margin-top: 70px;
  text-align: center;
}

@media screen and (max-width: 780px) {
  footer{
    height: auto;
  }

  footer ul li {
    display: block;
    padding: 0 5px;
    line-height: 2;
  }
  
  
}