/* 공통스타일 */
a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}


/* header */
header {
  width: 100%;
  top: 0;
  background-color: #AFECFF;
}

header>.inner {
  height: 100px;
}

.inner {
  width: 1100px;
  margin: auto;
  position: relative;
}

header .logo {
  top: 20px;
  background-color: wheat;
  position: absolute;
}

header .menu {
  display: flex;
}