/* 공통스타일 */

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

img {
  display: block;
}


.btn {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.inner {
  width: 1100px;
  margin: 0px auto;
  position: relative;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: #AFECFF;
  display: flex;
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 45px;
}

header .nav {
  display: flex;
}

header .menu {
  display: flex;
}

header .menu > li {
  display: flex;
  position: relative;
}

header .menu > li > a {
  padding: 10px 25px;
  font-size: 20px;
}

header .menu > li:hover{
  font-weight: bold;
}

header .menu > li:hover .sub-menu {
  font-weight: bold;
  display: block;
  background-color: white;
  display: flex;
}

.sub-menu {
  position: absolute;
  top: 32px;
  white-space: nowrap;
  display: none;
}

.sub-menu > li > a {
  padding: 11px 20px;
}

header .btngroup{
  padding: 20px;
}

header .btngroup .btn{
  border-color: white;
  background-color: white;
}

/* promotion */
.promotion {
  display: flex;
  height: 600px;
  position: relative;
  justify-content: center;
}

.promotion .swiper {
  width: calc(1280px * 3 + 10px * 2);
  height: 600px;
}



.promotion .swiper {
  height: 600px;
}

/* .promotion .swiper-pagination {
  position: absolute;
  bottom: 50px;
}

.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  color: #333;
  transition: .4s;
} */

/* list */
.list {
  display: flex;
  height: 500px;
  background-color: bisque;
}

.list .item{
  width: 25%;
  margin-top: 70px;
}

.list .item img{
  width: 100%;
  padding: 10px;
}

.list .item .desc{
  margin-top: 5px;
}

.list .item .desc ul > li{
  text-align: center;
  padding: 5px;
  font-size: 20px;
}






/* product */
.product {
  background-color: beige;
}

.product .inner {
  height: 400px;
  top: 55px;
}

.product .text-group {
  position: absolute;
  top: 40px;
  left: 40%;
}


.product .text-group .title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 32px;
}

.product .text-group .description {
  margin-bottom: 35px;
  font-size: 21px;
}

.product .text-group .btn {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #AFECFF;
}

/* guide */
.guide {
  background-color: lightpink;
}

.guide .inner {
  height: 400px;
}

.guide .text-group {
  position: absolute;
  top: 100px;
}

.guide .text-group .title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 25px;
}

.guide .text-group .description {
  margin-bottom: 35px;
  font-size: 22px;
}

.guide .text-group .btn {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #AFECFF;
}

.guide .guide-logo {
  position: absolute;
  right: 0;
}